{% extends 'base.html.twig' %}

{% block title %}Piezas{% endblock %}

{% block body %}
    <h1>Piezas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pieza.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ pieza.numero }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ pieza.tipo }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ pieza.edad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_piezas_index') }}">back to list</a>

    <a href="{{ path('app_piezas_edit', {'id': pieza.id}) }}">edit</a>

    {{ include('piezas/_delete_form.html.twig') }}
{% endblock %}
